<!DOCTYPE html>
<html>

<head>
	<title>
		Aziende
	</title>

	<link rel="stylesheet" href="/css/aziendeIndex.css" />
</head>

<body>
	<header>
	
	<div class="immagine">
	<a href="/"> <img src="/immagini/logosiw2.png" alt="Logo"></a>
	</div>
	  <div class="header-links">
           <a href="paginaAziende">Aziende</a>
            <a href="/logout">Logout</a>
        </div>
	
	</header>
	
	
	  <section class="quadrant" id="quadrant1">
        <a href="/azienda/profiloAzienda" class="image-link">
            <span class="image-text">Profilo</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant2">
        <a href="/studente/paginaStudenti" class="image-link">
            <span class="image-text">Studenti</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant3">
        <a href="/azienda/bacheca" class="image-link">
            <span class="image-text">Bacheca</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant4">
        <a href="paginaAziende" class="image-link">
            <span class="image-text">Altre Aziende</span>
        </a>
    </section>
	
</body>

</html>