body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
     background-color:white; /* Sfondo nero traslucido */
            color: white; /* Testo bianco per contrastare il background nero */
            height: 1.3em; /* Aumenta l'altezza dell'header */
            margin-bottom: 0.5em;
            padding: 1.3em; /* Aumenta il padding per un aspetto più grande */
            text-align: right; 
            display: flex;
            align-items: center;
            justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
        }

        .header-links {
            display: flex;
            gap: 6em; /* Spazio tra i link */
            margin-left: 60em;
            font-family: 'Dmsans', sans-serif; /* Cambia il font dei link */
            font-style: italic;
        }
        .header-links2 {
            display: flex;
            gap: 6em; /* Spazio tra i link */
            margin-left: 34em;
            font-family: 'Dmsans', sans-serif; /* Cambia il font dei link */
            font-style: italic;
        }
         .header-links3 {
            display: flex;
            gap: 6em; /* Spazio tra i link */
            margin-left: 43em;
            font-family: 'Dmsans', sans-serif; /* Cambia il font dei link */
            font-style: italic;
        }
        .header-links4 {
            display: flex;
            gap: 4em; /* Spazio tra i link */
            margin-left: 35em;
            font-family: 'Dmsans', sans-serif; /* Cambia il font dei link */
            font-style: italic;
        }

        header a { 
            text-decoration: none; 
            color: rgb(0, 0, 0); /* Cambia il colore del testo dei link per adattarsi al nuovo background */
            font-size: 3em; /* Puoi modificare la dimensione del font se necessario */
            font-size: 1.2em; /* Modifica la dimensione del font dei link */
        }
        .header-links a:hover {
    color: red;
}
   .header-links2 a:hover {
    color:red;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.azienda-item {
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.azienda-item:hover {
    background-color: #e0e0e0;
}

.azienda-item a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
}

.azienda-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
   .immagine {
    position: absolute;
    top: -0px;
    left: -38%;
    overflow: hidden; /* Assicura che l'immagine non fuoriesca dai bordi dell'header */
}

.immagine img {
    max-width: 19%; /* Imposta una larghezza massima, ad esempio 100px */
    height: auto; /* Lascia che l'altezza si adatti alla larghezza mantenendo le proporzioni */
}
