<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Azienda
	</title>
<link rel="stylesheet" href="/css/stud.css" />
</head>

<body>
	  <header>
    <div class="immagine">
	<a href="/"> <img src="/immagini/logosiw2.png" alt="Logo"></a></div>
        <div class="header-links">
		    <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
	
	<h1>Aggiungi Studente</h1>
	
	<form th:action="@{/studente/formCreaStudente}" method="POST" >
	<li>
  		
		
	
			<label>Nome:</label> 
			<span><input type="text" th:field="${studente.nome}" /></span>
			
		    </li><li>
		    
		

		
			<label>cognome:</label> <span><input type="text" th:field="${studente.cognome}" /></span>
		    </li><li>
		  
		

		
			<label>Email:</label> <span><input type="text" th:field="${studente.email}" /></span>
			</li><li>
		
		
			<label>anno:</label> <span><input type="text" th:field="${studente.year}" /></span>
			</li><li>
			
			<label>matricola:</label> <span><input type="text" th:field="${studente.matricola}" /></span>
			</li><li>
		
		
			<span><button type="submit">Conferma</button></span>
		</li>
	</form>
</body>

</html>