<!DOCTYPE html>
<html>

<head>
	<title>
		Studente
	</title>

	<link rel="stylesheet" href="/css/studenteIndex.css" />
</head>

<body>
	<header>
	
	  <div class="header-links">
            <a href="paginaAziende">Aziende</a>
            <a href="formRegistrazione">Registrazione</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
	
	</header>
	
	    <main>
        <div id="quadrant1" class="quadrant">
            <a href="/studente/profiloStudente" class="image-link">
                <div class="image-text">Profilo</div>
            </a>
        </div>
        <div id="quadrant2" class="quadrant">
            <a href="/studente/bacheca" class="image-link">
                <div class="image-text">Bacheca</div>
            </a>
        </div>
        <div id="quadrant3" class="quadrant">
            <a href="/studente/paginaStudenti" class="image-link">
                <div class="image-text">Studenti</div>
            </a>
        </div>
    </main>
</body>

</html>