<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Homepage</title>
    <link rel="stylesheet" href="/css/classificas.css">
</head>

<body>
    <header>
    <div class="immagine">
	<a href="/"> <img src="/immagini/logosiw2.png" alt="Logo"></a></div>
        <div class="header-links">
            <a href="/">Home</a>
            <a href="/studente/studenti">Cerca Studente</a>
            <a href="/logout">Logout</a>
        </div>
    </header>

     <main>
        <div id="quadrant1" class="quadrant">
            <a th:href="@{'/studente/studente' + '/' + ${s2.id}}" th:text="${s2.matricola}" class="student-name">Nome 1</a>
            
        </div>
        <div id="quadrant2" class="quadrant">
            <a th:href="@{'/studente/studente' + '/' + ${s3.id}}" th:text="${s3.matricola}" class="student-name">Nome 2</a>
        </div>
        <div id="quadrant3" class="quadrant">
            <a th:href="@{'/studente/studente' + '/' + ${s1.id}}" th:text="${s1.matricola}" class="student-name">Nome 3</a>
        </div>
    </main>

   
</body>

</html>
