<!DOCTYPE html>
<html>
<head>
<title>Azienda</title>
<link rel="stylesheet" href="/css/stilePiatto.css" />
</head>
<body>
	<header> 
		<div class="header-links">
            <a href="paginaAziende">Modifica</a>
            <a href="/azienda/sezioneOfferteLavoro">Sezione offerte di lavoro</a>
            <a href="/login">Login</a>
        </div>
	
	</header>
  
      <h1  th:text="${studente.nome}">nome azienda</h1>
      
      <div  th:text="${studente.cognome}">cognome</div>
      <div  th:text="${studente.email}">email</div>
      <div  th:text="${studente.year}">anno</div>
      
  <div th:unless="${studente}">Non esiste</div>
</body>
</html>
