<!DOCTYPE html>
<html>
<head>
<title>Azienda</title>
<link rel="stylesheet" href="/css/stud.css" />
</head>
<body>
	<header> 
		<div class="header-links">
            <a href="/studente/modificaProfilo">Modifica</a>
            <a href="/studente/aggiungiEsame">Aggiungi esami</a>
            <a href="/login">Login</a>
        </div>
	
	</header>
  
      <h1  th:text="${studente.nome}">nome azienda</h1>
      
      <div  th:text="${studente.cognome}">cognome</div>
      <div  th:text="${studente.email}">email</div>
      <div  th:text="${studente.year}">anno</div>
      	<div th:each="entry : ${studente.esami.entrySet()}">
            <div th:text="${entry.key}">nome esame</div>
            <div th:text="${entry.value}">voto esame</div>
  <div th:unless="${studente}">Non esiste</div>
</body>
</html>
